*{
    background-color: #F1F0E8;
}
h1,form{
    color: #385f84;
    text-align: center;
}
ul {
list-style-type: none;
margin: 0 320px;
}

li {
padding: 10px;
margin-bottom: 5px;
align-items: center;
}

li.completed {
text-decoration: line-through;
}

li input[type="checkbox"] {
margin-right: 10px;
}
input[type="text"]{
    padding: 5px;
}
input[type="submit"]{
    background-color: #102C57;
    color: #F1F0E8;
    padding: 5px;
}
button{
margin-left: 10px;
background-color: #102C57;
color: red;
}